.container#content {
  margin-top: 60px;
}
body {
  background-color: $gray;
  font-family: $site-font;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(240, 240, 240);
  font-family: "Ultra", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px rgb(0, 0, 0), 0 3px #777;
}

h2 {
  margin-bottom: 20px;
  color: rgb(39, 39, 39);
  font-family: "Ultra", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
  // text-shadow: 0 2px rgb(35, 13, 63), 0 3px #777;
}

h3 {
  text-align: center;
  color: rgb(240, 240, 240);
  text-shadow: 2px 2px 8px #000000;
}

h4 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(39, 39, 39);
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  // text-shadow: 0 2px rgb(35, 13, 63), 0 3px #777;
}

.footerh4 {
  margin-top: 0;
  font-size: 30px;
}

.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;
  &:hover {
    color: #007bff;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.Tag-button {
  color: $yellow;
  padding: 10px;
  margin-bottom: 18px;
}

.badge-tagPage {
  color: whitesmoke;
  font-weight: bold;
  font-size: large;
}
