@import url('https://fonts.googleapis.com/css?family=Raleway');

$site-font: 'Raleway', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
$gray: #24303b;
$light-gray:   #e0e0e0;
$yellow: #ffeb46;
